<div id="side-nav" class="sidenav is-hidden-mobile">
  <aside class="menu">
    <div class="user-side-bar">
      <div class="background"></div>
      <figure class="image is-48x48">
        <img src="http://bulma.io/images/placeholders/48x48.png">
      </figure>
      <p class="heading">John Smith<br>john.smitt@com</p>
      <p class="">System Administrator</p>
    </div>

    <div class="search-side-bar">
      <p class="control has-icon has-icon-right side-bar-style">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-small">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>

    <div class="content-side-bar">

      <div class="is-hidden-tablet">
        <p class="menu-label">Navigation</p>
        <ul class="menu-list">
          <li><a href="#">Notifications <span class="tag is-danger is-small is-pulled-right">8</span></a></li>
          <li><a href="#">Meetings <span class="tag is-success is-small is-pulled-right">4</span></a></li>
          <li><a href="#">Messages <span class="tag is-warning is-small is-pulled-right">12</span></a></li>
        </ul>
      </div>

      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li><a href="#" class="is-active">Home</a></li>
        <li class="treeview">
          <a>Module 1<span class="is-pulled-right"><i class="fa fa-angle-left"></i></span></a>
          <ul class="treeview-menu">
            <li><a href="#">Module 1/Component 1</a></li>
            <li><a href="#">Module 1/Component 2</a></li>
            <li>
              <a href="#">Module 1/Component 3</a>
              <ul>
                <li><a href="#">Module 1/<br>Component 3/<br>Child Component 1</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Module 2</a></li>
      </ul>
    </div>
  </aside>
</div>
