<!-- footer governo padrão -->
<footer class="footer app-footer">
      <div class="marcas">
        {{'TITLE_SIGLA_SISTEMA' | i18n | uppercase}}
      </div>
      <div class="border-gradient"></div>
      <div id="rodapePadrao">
          <div id="wrapper-rodape-padrao">
              <div id="versao">
                  #01 00.0.01-001
              </div>
              <div class="rodape-info">
                  <span class="ministerio">&copy; Minist&eacute;rio da Educa&ccedil;&atilde;o.</span> Todos os direitos reservados | Desenvolvimento: <abbr class="dti" title="Diretoria de Tecnologia da Informa&ccedil;&atilde;o - Minist&eacute;rio da Educa&ccedil;&atilde;o">DTI - MEC</abbr>
              </div>

              <div class="nav-center">
                <a class="nav-item footer-icon" href="#">
                <span class="icon">
                  <i class="fa fa-instagram"></i>
                </span>
                </a>
                <a class="nav-item footer-icon" href="#">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                </a>
                <a class="nav-item footer-icon" href="#">
                <span class="icon">
                  <i class="fa fa-facebook-official"></i>
                </span>
                </a>
                <a class="nav-item footer-icon" href="#">
                <span class="icon">
                  <i class="fa fa-youtube"></i>
                </span>
                </a>
              </div>
            </div>

      </div>

</footer>
