<br>
<div class="box" style="width:95%; margin-left: 2.5%;">
  <article class="media">
    <div class="media-left">
    	<span class="icon is-large">
    		<i class="fa fa-cubes"></i>
    	</span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Modular:</strong> <small>Just import what you need</small>
          <br>
          	Bulma consists of <strong>29</strong> <code>.sass</code> files that you can import <strong>individually.</strong>
		  	For example, let's say you only want the Bulma <strong>columns.</strong><br>The file is located in the <code>bulma/sass/grid</code> folder.<br>Simply <strong>import</strong> the utilities dependencies, and then the files you need directly
        </p>
      </div>
    </div>
  </article>
</div>
<br>
<div class="box" style="width:95%; margin-left: 2.5%;">
  <article class="media">
    <div class="media-left">
    	<span class="icon is-large">
    		<i class="fa fa-mobile"></i>
    	</span>
    	<span class="icon is-large">
    		<i class="fa fa-tablet"></i>
    	</span>
    	<span class="icon is-large">
    		<i class="fa fa-desktop"></i>
    	</span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Responsive:</strong> <small>Bulma.io is a mobile-first framework</small>
	        <br>Every element in Bulma is <strong>mobile-first</strong> and optimizes for <strong>vertical reading</strong>, so by default on mobile:
        </p>
      	<ul>
	        <li>columns are stacked vertically</li>
	        <li>the level component will show its children stacked vertically</li>
	        <li>the nav menu will be hidden</li>
      	</ul>
      </div>
    </div>
  </article>
</div>
<br>
<div class="box" style="width:95%; margin-left: 2.5%;">
  <article class="media">
    <div class="media-left">
    	<span class="icon is-large">
    		<i class="fa fa-css3"></i>
    	</span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Modern:</strong> <small>Built with Flexbox</small>
	        <br>Flexbox, ou Flexible Box Layout, é um novo modo de layout em CSS3, projetado para leiautar aplicações complexas e páginas web.
        </p>
        <code>
			.vertical-container {{'{'}}<br>
			  &nbsp;&nbsp;&nbsp;height: 300px;<br>
			  &nbsp;&nbsp;&nbsp;display: -webkit-flex;<br>
			  &nbsp;&nbsp;&nbsp;display: flex;<br>
			  &nbsp;&nbsp;&nbsp;-webkit-align-items: center;<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;align-items: center;<br>
			  &nbsp;&nbsp;&nbsp;-webkit-justify-content: center;<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;justify-content: center;<br>
			{{'}'}}
        </code>
      </div>
    </div>
  </article>
</div>
<br>
<div class="box" style="width:95%; margin-left: 2.5%;">
  <article class="media">
    <div class="media-left">
    	<span class="icon is-large">
    		<i class="fa fa-css3"></i>
    	</span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Lightweight:</strong> <small>SPA and PWA centered</small>
          <br>Almost every large SPA or project involves date and time input. There are limited options, however, if you also prefer to keep your projects lean and consequently stay away from heavy frameworks such as jQuery, or even Bootstrap.
          <br>Appalled at the fact that I have to load 300kb of jquery and jquery UI or hook up bootstrap just to use a calendar, I created this [date][time]picker that's powerful, easy to use, and looks good out of the box.
          <br>
          <img src="./../../../assets/images/resources-workload-analysis.png" />
          <br>
          <br>source:&nbsp;https://github.com/chmln/flatpickr
        </p>
      </div>
    </div>
  </article>
</div>
