<div class="card" style="width:95%; margin-left: 2.5%;">
  <header class="card-header">
    <div class="columns" style="width: 100%">
      <div class="column is-three-quarters">
        <h2 class="card-header-title">
          {{'TITLE_LISTAR' | i18n}} {{'LABEL_USUARIO' | i18n | uppercase }}
        </h2>
      </div>
      <div class="column">
        <a class="card-header-icon" href="#" onclick="return false;" (click)="toggleMenu()" ngDefaultControl style="display: table-cell; text-align: right; float: right;">
          <span class="icon">
            <i class="fa fa-angle-down" *ngIf="isCollapsed()"></i>
            <i class="fa fa-angle-up" *ngIf="!isCollapsed()"></i>
          </span>
        </a>
      </div>
    </div>
  </header>
  <div class="card-content" [@showHide]="isCollapsed()">
    <div class="content">
      <div class="field is-horizontal">

        <div class="container">
          <table app-data-table id="users-table" class="table is-striped is-bordered dataTable" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Name</th>
              <th>Company</th>
              <th>Office</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Company</th>
              <th>Office</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
            </tfoot>
            <tbody>
            <tr class="odd" *ngFor="let usuario of usuarios">
              <td>{{usuario.name}}</td>
              <td>{{usuario.company}}</td>
              <td>{{usuario.office}}</td>
              <td>{{usuario.startDate}}</td>
              <td>{{usuario.salary}}</td>
            </tr>
            </tbody>
          </table>
          <div class="datatable-pagination-mobile"></div>
        </div>

      </div>
    </div>
  </div>
  <footer class="card-footer" style="background-color: #ECECEC">
    <div style="width: 100%; text-align: right; float: right; margin: 10px;">
    </div>
  </footer>
</div>
