<div *ngFor="let item of items">
  <div *ngIf="item.isConfirmTypeOk()">
    <div class="cd-popup is-visible" [@slideInOut]="" role="ok">
        <div class="cd-popup-container">
            <p>{{item.msg}}</p>
            <ul class="cd-buttons">
                <li><a href="#" onclick="return false;" (click)="confirmYesOk(item)">{{'LABEL_CONFIRM_YES' | i18n}}</a></li>
            </ul>
            <a href="#" class="cd-popup-close img-replace" [@slideInOut]="" (click)="confirmYesOk(item)">{{'LABEL_CONFIRM_OK' | i18n}}</a>
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
  </div>
  <div *ngIf="item.isConfirmTypeYesNo()">
    <div class="cd-popup is-visible" [@slideInOut]="" role="alert">
        <div class="cd-popup-container">
            <p>{{item.msg}}</p>
            <ul class="cd-buttons">
                <li><a href="#"  onclick="return false;" (click)="confirmYesOk(item)">{{'LABEL_CONFIRM_YES' | i18n}}</a></li>
                <li><a href="#"  onclick="return false;" (click)="confirmNo(item)">{{'LABEL_CONFIRM_NO' | i18n}}</a></li>
            </ul>
            <a href="#" class="cd-popup-close img-replace" [@slideInOut]="" (click)="confirmNo(item)">{{'LABEL_CONFIRM_TITLE' | i18n}}</a>
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
  </div>
</div>

