<div class="card" style="width:95%; margin-left: 2.5%;">
  <header class="card-header">
    <div class="columns full-width">
      <div class="column is-three-quarters">
        <h2 class="card-header-title" *ngIf="acao.isAcaoIncluir()">
          {{'TITLE_INCLUIR' | i18n}} {{'LABEL_GRUPO' | i18n | uppercase }}
        </h2>
        <h2 class="card-header-title" *ngIf="acao.isAcaoAlterar()">
          {{'TITLE_ALTERAR' | i18n}} {{'LABEL_GRUPO' | i18n | uppercase }}
        </h2>
        <h2 class="card-header-title" *ngIf="acao.isAcaoVisualizar()">
          {{'TITLE_VISUALIZAR' | i18n}} {{'LABEL_GRUPO' | i18n | uppercase }}
        </h2>
      </div>
      <div class="column">
        <a class="card-header-icon" href="#" onclick="return false;" (click)="toggleShowHide = !toggleShowHide" ngDefaultControl style="display: table-cell; text-align: right; float: right;">
          <span class="icon">
            <i class="fa fa-angle-down"></i>
          </span>
        </a>
      </div>
    </div>
  </header>

  <form #formGrupo="ngForm" novalidate (ngSubmit)="salvar(grupo, formGrupo)" class="full-width">
    <div class="card-content" *ngIf="toggleShowHide">
      <div class="content">

      <!-- group: nome + email -->
        <div class="field-body">
          <div class="field is-grouped">

              <div class="field">
                <div class="field-label is-normal" style="text-align: left;">
                  <label for="inputNome" class="required">{{'LABEL_NOME' | i18n}}:</label>
                  <br>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                     <input id="inputNome" type="text" class="input" title="{{'LABEL_NOME' | i18n}}" [(ngModel)]="grupo.nome" #grupoNome="ngModel" name="nome" required maxlength="50" [disabled]="acao.isAcaoVisualizar()">
                     <span class="icon is-small is-left">
                       <i class="fa fa-user"></i>
                     </span>
                     <validation-message [for]="grupoNome" [form]="formGrupo"></validation-message>
                  </p>
                </div>
              </div>

              <div class="field">
                <div class="field-label is-normal" style="text-align: left;">
                  <label for="inputEmail" class="required">{{'LABEL_EMAIL' | i18n}}:</label>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                     <input id="inputEmail" type="text" class="input" title="{{'LABEL_EMAIL' | i18n}}" [(ngModel)]="grupo.email" #grupoEmail="ngModel" name="email" required maxlength="50" [disabled]="acao.isAcaoVisualizar()">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <validation-message [for]="grupoEmail" [form]="formGrupo"></validation-message>
                  </p>
                </div>
              </div>

          </div>
        </div>

        <!-- group: forum -->
        <div class="field-label is-normal" style="text-align: left;">
          <label for="inputForum" class="required">{{'LABEL_FORUM' | i18n}}:</label>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left">
             <input id="inputForum" type="text" class="input" title="{{'LABEL_FORUM' | i18n}}" [(ngModel)]="grupo.forum" #grupoForum="ngModel" name="forum" required maxlength="200" [disabled]="acao.isAcaoVisualizar()">
             <span class="icon is-small is-left">
               <i class="fa fa-globe"></i>
             </span>
             <validation-message [for]="grupoForum" [form]="formGrupo"></validation-message>
          </p>
        </div>

        <!-- group: descricao -->
        <div class="field-label is-normal" style="text-align: left;">
          <label for="inputDescricao" class="required">{{'LABEL_DESCRICAO' | i18n}}:</label>
        </div>
        <div class="field">
          <p class="control is-expanded">
            <textarea id="inputDescricao" class="textarea" title="{{'LABEL_DESCRICAO' | i18n}}" rows="5" [(ngModel)]="grupo.descricao" #grupoDescricao="ngModel" name="descricao" required maxlength="500" [disabled]="acao.isAcaoVisualizar()"></textarea>
            <validation-message [for]="grupoDescricao" [form]="formGrupo"></validation-message>
          </p>
        </div>

        <!-- group: data + publico + situacao -->
          <div class="field-body">
            <div class="field is-grouped">

                <div class="field">
                  <div class="field-label is-normal" style="text-align: left;">
                    <label for="inputNome" class="required">{{'LABEL_DATA' | i18n}}:</label>
                    <br>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                    </p>
                  </div>
                </div>

                <div class="field">
                  <div class="field-label is-normal" style="text-align: left;">
                    <label for="inputPublico" class="required">{{'LABEL_PUBLICO' | i18n}}:</label>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                       <input id="inputPublico" type="text" class="input" title="{{'LABEL_PUBLICO' | i18n}}" [(ngModel)]="grupo.publico" #grupoPublico="ngModel" name="publico" required maxlength="50" [disabled]="acao.isAcaoVisualizar()">
                      <validation-message [for]="grupoPublico" [form]="formGrupo"></validation-message>
                    </p>
                  </div>
                </div>

                <div class="field">
                  <div class="field-label is-normal" style="text-align: left;">
                    <label for="inputSituacao" class="required">{{'LABEL_SITUACAO' | i18n}}:</label>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                       <input id="inputSituacao" type="text" class="input" title="{{'LABEL_SITUACAO' | i18n}}" [(ngModel)]="grupo.situacao" #grupoSituacao="ngModel" name="situacao" required maxlength="50" [disabled]="acao.isAcaoVisualizar()">
                      <validation-message [for]="grupoSituacao" [form]="formGrupo"></validation-message>
                    </p>
                  </div>
                </div>

            </div>
          </div>

      </div>
    </div>

    <footer class="card-footer" style="background-color: #ECECEC">
      <div class="right-align">

        <div *ngIf="acao.isAcaoIncluir() || acao.isAcaoAlterar()">
          <button type="button" class="button is-danger" title="{{'LABEL_CANCELAR' | i18n}}" [routerLink]="['/grupo/listar']">
            <span class="icon">
              <i class="fa fa-ban under" aria-hidden="true"></i>
            </span>
            <span>{{'LABEL_CANCELAR' | i18n}}</span>
          </button>

          <button type="submit" class="button is-success" title="{{'LABEL_SALVAR' | i18n}}">
            <span class="icon">
              <i class="fa fa-plus under" aria-hidden="true"></i>
            </span>
            <span>{{'LABEL_SALVAR' | i18n}}</span>
          </button>
        </div>

        <div *ngIf="acao.isAcaoVisualizar()">
          <button [routerLink]="['/grupo/listar']" type="button" class="button is-success" title="{{'LABEL_VOLTAR' | i18n}}">
            <span class="icon">
              <i class="fa fa-chevron-left under" aria-hidden="true"></i>
            </span>
            <span>{{'LABEL_VOLTAR' | i18n}}</span>
          </button>
        </div>

      </div>
    </footer>
  </form>

</div>
