/** FHD, WUXGA, WQHD, WQXGA */
@media screen and (min-width: 1920px) {
  .app-canvas {
    margin:0 auto;
    min-height:675px;
  }
}
/** UXGA, HD+ */
@media screen and (min-width: 1600px) {
  .app-canvas {
    margin:0 auto;
    min-height:570px;
  }
}
/** WXGA+ */
@media screen and (min-width: 1440px) {
  .app-canvas {
    margin:0 auto;
    min-height:465px;
  }
}
/** SXGA */
@media screen and (min-width: 1280px) {
  .app-canvas {
    margin:0 auto;
    min-height:465px;
  }
}
@media screen and (max-width: 414px) {
  .app-canvas {
    margin:0 auto;
    min-height:345px;
  }
}
@media screen and (max-width: 375px) {
  .app-canvas {
    margin:0 auto;
    min-height:275px;
  }
}
@media screen and (max-width: 320px) {
  .app-canvas {
    margin:0 auto;
    min-height:178px;
  }
}
