@media screen and (min-width: 769px) {
  .app-canvas {
    margin:0 auto;
    min-height:465px;
  }
}
@media screen and (max-width: 414px) {
  .app-canvas {
    margin:0 auto;
    min-height:275px;
  }
}
