<div class="nav-item dropdown">
  <a class="dropbtn">
    <span class="icon">
        <i class="fa fa-bell-o"></i>
    </span>
    <span class="label label-danger">8</span>
  </a>
  <div class="dropdown-content">
    <a class="divider-text">You have 4 new meetings</a>
    <div class="scrollable-items">
      <a href="#">
        <div class="meeting">
          <span class="icon is-small">
              <i class="fa fa-trash-o"></i>
          </span>
          <span style="vertical-align: top;"> 4 messages deleted</span>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <span class="icon is-small">
              <i class="fa fa-id-card-o"></i>
          </span>
          <span style="vertical-align: top;"> You changed your profile</span>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <span class="icon is-small">
              <i class="fa fa-info-circle"></i>
          </span>
          <span style="vertical-align: top;"> 5 new members</span>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <span class="icon is-small">
              <i class="fa fa-thumbs-up"></i>
          </span>
          <span style="vertical-align: top;"> 2 more likes</span>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <span class="icon is-small">
              <i class="fa fa-shopping-cart"></i>
          </span>
          <span style="vertical-align: top;"> 5 sales made</span>
        </div>
      </a>
    </div>
    <a href="#">See all notifications</a>
  </div>
</div>
