<div class="caixa-centro">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2 *ngIf="acao.isAcaoIncluir()">{{'TITLE_INCLUIR' | i18n }} {{'LABEL_USUARIO' | i18n | uppercase }}</h2>
      <h2 *ngIf="acao.isAcaoAlterar()">{{'TITLE_ALTERAR' | i18n}} {{'LABEL_USUARIO' | i18n | uppercase }}</h2>
      <h2 *ngIf="acao.isAcaoVisualizar()">{{'TITLE_VISUALIZAR' | i18n}} {{'LABEL_USUARIO' | i18n | uppercase }}</h2>
    </div>
  </div>

  <form #formUsuario="ngForm" novalidate (ngSubmit)="salvar(usuario, formUsuario)">

    <div class="row">
      <div class="col-md-12 col-xs-12">
          something here...
      </div>
    </div>

  </form>

</div>
