<div class="nav-item dropdown">
  <a class="dropbtn">
    <span class="icon">
        <i class="fa fa-calendar-o"></i>
    </span>
    <span class="label label-success">4</span>
  </a>
  <div class="dropdown-content">
    <a class="divider-text">You have 4 new meetings</a>
    <div class="scrollable-items">
      <a href="#">
        <div class="meeting">
          <p>Mr JB Straubel - Tesla Motors</p>
          <small>today 8am</small>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <p>Mr Carlos Tavares - Peugeot</p>
          <small>today 5pm</small>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <p>Mr Akio Toyoda - Toyota Motor Corporation</p>
          <small>in 2 days 2pm</small>
        </div>
      </a>
      <a href="#">
        <div class="meeting">
          <p>Mr Harald Krüger - BMW</p>
          <small>in 7 days 4pm</small>
        </div>
      </a>
    </div>
    <a href="#">See all meetings</a>
  </div>
</div>
