.user-info {
  display: inline;
}
@media screen and (min-width: 769px) {
  #nav-user-info-menu {
    position: absolute;
    width: 350px;
    text-align: right;
    top: 45px;
    margin-left: -80px;
  }
}
@media screen and (max-width: 414px) {
  #nav-user-info-menu {
    position: absolute;
    width: 350px;
    top: 95px;
    left: 12.5px;
  }
}
hr.small-line {
  position: relative;
  top: -15px;
}
.user-info-profile-button {
  position: relative; top: -30px;
}
.card-footer {
  background-color: #dddddd;
}
.footer-button {
  text-align: center;
}
.under {
  position: relative;
  top: 4px;
}
