.user-info { display: inline; }
#nav-user-info-menu {
  position: absolute;
  width: 350px;
  text-align: right;
  top:45px;
  margin-left: -80px;
}
hr.small-line {
  position: relative;
  top: -15px;
}
.user-info-profile-button {
  position: relative; top: -30px;
}
.card-footer {
  background-color: #dddddd;
}
.footer-button {
  text-align: center;
}
.under {
  position: relative;
  top: 4px;
}
