<span class="nav-item">
  <a class="button is-primary" href="#" onclick="return false;">
    <span class="icon">
      <i class="fa fa-user-circle-o"></i>
    </span>
    <span id='nav-user-info'>
      <div class="user-info">John Smith - 000.000.000-00</div>
      <div class="user-info"><i class="fa fa-caret-up"></i></div>
    </span>
  </a>
</span>

<div id="nav-user-info-menu" class="is-hidden">
  <div class="card">
    <header class="card-header"></header>
    <div class="card-content">
    <div class="media">
        <div class="media-left">
          <figure id="nav-user-info-photo" class="image is-96x96">
            <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6"><strong>John Smith</strong></p>
          <p class="subtitle is-6">john.smitt@com</p>
          <hr class="small-line">
          <a class="button is-info is-focused is-small user-info-profile-button" href="#">
            View Profile
          </a>
        </div>
      </div>    
      <div class="content">
        <small><b>Last access:</b> 11:09 PM - 1 Jan 2016</small>
      </div>
    </div>
    <footer class="card-footer">
       <div class="column is-half footer-button">
      <a class="button is-small" href="#">
        Change Password
      </a>
       </div>
       <div class="column is-half footer-button">
      <a class="button is-small is-danger" href="#">
        Sign Out
      </a>
       </div>
    </footer>
  </div>
</div>
