<div class="cabeca">
  <!-- Topo com a Header maior -->
  <div class="col-md-12">
    <div class="logo">SIGLA SISTEMA</div>
    <p>Descrição da sigla do Sistema</p>
    <div class="faq pull-right">
      <a href="faq.html">
        <p>Tire suas dúvidas</p>
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
</div>

<div class="espaco-topo"></div>

<div class="conteudo container">
  <h2>Acesso SSD</h2>
  <div class="col-md-6 col-xs-12 text-justify">
    <p class=""><strong>Parágrafo</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquos mel miseram principio fonte
      o dicturam. Satisfacit gravissimis uterque, occultarum mundus mala praetore progrediens ibidem respirare imbutus, praetermissum
      optari dubio derepta desideraturam aegritudo quales. Rem facile nosmet quoddam. Geometria fruentem parta. Sic, voluptatibus
      torquate rationem, quidem triario impendere dulce, recordatione, faciunt defuturum sensuum, coniuncta, facile consequentium
      suavitate feci dicitis detrimenti..</p>
    <div class="row">
      <button type="button" class="btn  btn-default"><i class="fa fa fa-download"></i> Download do Edital 01</button>
      <button type="button" class="btn  btn-default"><i class="fa fa fa-download"></i> Download do Edital 02</button>
    </div>
  </div>

  <div class="row caixa-login col-md-5 col-xs-12 sombra-2 col-md-offset-1 ">

    <div class="row">
      <div class="col-md-12">
        <h3>Já sou cadastrado</h3>
        <!-- redirecionamento para o serviço de autenticação -->
        <a href="index.html"><button type="button" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Entrar</button></a>
      </div>
    </div>

    <div class="col-md-12 sp-20">
      <div class="separador"></div>
      <h3>Solicitar cadastrado</h3>
      <!-- redirecionamento para o serviço de autenticação -->
      <a href="index.html"><button type="button" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o"></i> Solicitar Acesso</button></a>
    </div>
  </div>
</div>

<footer>
  <div class="marcas">SIGLA SISTEMA
    <img src="http://dsv-static00.mec.gov.br/padraosistemas/bibliotecas/stable/mec/img/parceiro.jpg" alt="">
    <!-- exemplo -->
    <img src="http://dsv-static00.mec.gov.br/padraosistemas/bibliotecas/stable/mec/img/parceiro.jpg" alt="">
    <!-- exemplo -->
    <img src="http://dsv-static00.mec.gov.br/padraosistemas/bibliotecas/stable/mec/img/parceiro.jpg" alt="">
    <!-- exemplo -->
  </div>
  <div class="navegador"><i class="fa fa-flag"></i><br>Mantenha seu navegador atualizado.</div>

  <div class="border-gradient">
  </div>
  <div id="rodapePadrao">
    <div id="wrapper-rodape-padrao">
      <div id="versao">
        #01 00.0.01-001
      </div>
      <div class="rodape-info">
        <span class="ministerio">&copy; Minist&eacute;rio da Educa&ccedil;&atilde;o.</span> Todos os direitos reservados
        | Desenvolvimento: <abbr class="dti" title="Diretoria de Tecnologia da Informa&ccedil;&atilde;o - Minist&eacute;rio da Educa&ccedil;&atilde;o">DTI - MEC</abbr>
      </div>
      <div class="marca-brasil-flag">
        <a href="http://www.brasil.gov.br" target="_blank" class="logo-brasil">
          <img src="http://dsv-static00.mec.gov.br/padraosistemas/bibliotecas/stable/mec/img/brasil.png" alt="Brasil - Governo Federal">
        </a>
      </div>
    </div>
  </div>
</footer>
