<div class="nav-item dropdown">
  <a class="dropbtn">
    <span class="icon">
        <i class="fa fa-envelope-o"></i>
    </span>
    <span class="label label-warning">12</span>
  </a>
  <div class="dropdown-content">
    <a class="divider-text">You have 12 new messages</a>
    <div class="scrollable-items">
      <a href="#">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <img src="http://bulma.io/images/placeholders/32x32.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <small>
                <strong>Jenna Sandoval</strong><br>
                <p>I'll get my kit!</p>
              </small>
            </div>
          </div>
        </article>
      </a>
      <a href="#">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <img src="http://bulma.io/images/placeholders/32x32.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <small>
                <strong>Zachary Clayton</strong><br>
                It's art!
              </small>
            </div>
          </div>
        </article>
      </a>
      <a href="#">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <img src="http://bulma.io/images/placeholders/32x32.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <small>
                <strong>Jenna Sandoval</strong><br>
                No, I'll fix it. I'm good at fixing ...
              </small>
            </div>
          </div>
        </article>
      </a>
      <a href="#">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <img src="http://bulma.io/images/placeholders/32x32.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <small>
                <strong>Zachary Clayton</strong><br>
                The way I see it, every life is a ...
              </small>
            </div>
          </div>
        </article>
      </a>
      <a href="#">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <img src="http://bulma.io/images/placeholders/32x32.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <small>
                <strong>Zachary Clayton</strong><br>
                Saving the world with meals ...
              </small>
            </div>
          </div>
        </article>
      </a>
    </div>
    <a href="#">See all messages</a>
  </div>
</div>
